# local helpers
data_migrations.php

# Website Resources
/resources/views/front
/public/images/front
/public/js/front
/public/css/front

# npm stuff
/node_modules
/bower_components
npm-debug.log
yarn-error.log

# App Stuff
/public/storage
/storage/*.key

# Laravel Stuff
/vendor
.env

# Configs
.idea
.php_cs.cache
.DS_Store
