/public/resources/admin/uploads
/public/resources/admin/uploads/*
!*public/uploads
/node_modules
/public/storage
/storage/framework
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php
/vendor
/.idea
/public/hot
/public/storage
/storage/*.key
