/resources/views/auth_old
/resources/views/front
/resources/views/admin_old
/public/resources
/public/front

/node_modules
/bower_components

/public/storage
/storage/framework
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php
/vendor
/.idea
/public/hot
/storage/*.key
composer.lock
.php_cs.cache