tr .four-button {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

tr .three-button {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

tr .two-button {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.table-img-xs {
    max-height: 25px;
}

.table-img-sm {
    max-height: 50px;
}

.table-img-md {
    max-height: 100px;
}

.table-img-lg {
    max-height: 150px;
}

.table-search-bar {
    max-width: 100px;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
    height: 15px;
    width: 15px;
}

.dropdown-menu {
    min-width: 60px !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.post-image-container {
    position: relative;
}

.post-image {
    height: 100px;
    width: auto;
    margin: 5px;
}

.img-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 110px;
}

.img-btn {
    height: 20px;
    width: 20px;
    padding: 0;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.feature-btn {
    position: absolute;
    top: 35px;
    right: 10px;
}

.long-column {
    max-width:400px !important;
    white-space: normal !important;
}

.box-buttons {
    float: right;
}

@media (max-width: 750px) {
    .btn-group-blockable > .btn {
        display: block;
        width: 100%;
    }

    .btn-group-blockable>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px;
    }

    .btn-group-blockable>.btn:last-child:not(:first-child), .btn-group-blockable>.dropdown-toggle:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
    }
}

@media (max-width: 1200px) {
    .btn-group-blockable {
        width: 100%;
    }

    .box-buttons {
        margin-top: 10px;
        width: 100%;
        float: left;
    }

}
